<%= form_for [:my, @project, @image] do |f| %>
	<%= f.label :file %>
  <%= f.file_field :file %>
  <%= f.submit 'Upload Image', class: 'btn' %>
<% end %>

<h4>This Project has <%= @images.count %> Images</h4>

<% @images.each do |image| %>
	<%= image_tag image.file_url.to_s, class: "image" %>
<% end %>