<%= form_for [:my, @project, @image] do |f| %>
  <%= render 'shared/form_errors', :f => f %>
  <%= f.file_field :file %>
  <%= f.submit 'Upload Image', class: 'btn' %>
<% end %>

<h4>This Project has <%= @images.count %> Images</h4>