<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'projects' && (!current_page? root_path) %>">
            <%= link_to 'Projects', :projects %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container", style = 'margin-top:50px'>
  <% if flash[:notice] %>
    <div class="alert alert-block">
      <p id='notice'><%= flash[:notice]%></p>   
    </div>
  <% end %>
	
  <%= yield %>

</div>


</body>
</html>
